<h1>Edit photo</h1>

<form action="http://localhost:3000/create_photo">
  <div>
    <label for="photo_caption">Caption:</label>
    <input type="text" name="the_caption" value="<%= @photo.caption %>">
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input type="text" name="the_source" value="<%= @photo.source %>">
  </div>
  <div>
    <button>Create Photo</button>
  </div>
</form>
